<div class="contact-form">
	<%= form_tag contact_path do %>
		<%= fields_for :contact do |f| %>
		<p>
			<%= f.label :subject %>
            <%=f.text_field :subject %>
		</p>
          <p>
            <%= f.label :message %>
            <%=f.text_area :message %>
          </p>
          <p class="actions">
            <%= f.submit 'Send Message', class: 'btn' %>
            <%= link_to 'Cancel', root_url, class: 'btn' %>
          </p>
         <% end %>
	<% end %>
</div>